.wrapper {
  width: 45%;
  height: 330px;
  margin: 20px auto;
}

.container {
  border: 1px solid gray;

  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px;
}
#image {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
#city {
  color: rgb(172, 171, 171);
  font-weight: lighter;
  font-size: 30px;
  margin-bottom: 8px;
  padding: 10px;
}

#citySearch {
  margin-bottom: 10px;
}

#day,
#condition {
  color: rgb(172, 171, 171);
  font-weight: lighter;
  font-size: 20px;
}
.humidityWind {
  color: rgb(173, 171, 171);
  font-weight: lighter;
  font-size: 20px;
}

#temprature {
  font-size: 48px;
  font-weight: normal;
}
.coded {
  padding-top: 10px;
}

.cf {
  position: relative;
  top: -30px;
}
ul {
  list-style: none;
  margin-left: 0;
}
ul li {
  line-height: 1.2;
}
p {
  line-height: 0.5;
}
h1::first-letter {
  text-transform: capitalize;
}

#condition::first-letter {
  text-transform: capitalize;
}

.active:hover {
  cursor: pointer;
}

#fara {
  color: blue;
  font-weight: 600;
  font-size: 20px;
}
#canti {
  font-weight: 600;
  font-size: 20px;
}
