.wrapper {
  width: 45%;
  height: 330px;
  margin: 20px auto;
}
.line {
  border-bottom: 2px solid #f50057;
}
.container {
  border: 1px solid gray;

  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 2px 2px 5px gray;
  padding: 20px;
}
.tempImage #image {
  margin-right: 5px;
  height: 80px;
  width: 80px;
  margin: 5px;
}
#city {
  color: #f50057;

  font-size: 30px;
  margin-bottom: 8px;
  padding: 10px;
}

#citySearch {
  margin-bottom: 10px;
}

#day,
#condition {
  color: rgb(172, 171, 171);
  font-weight: lighter;
  font-size: 20px;
}
.humidityWind {
  margin-top: 15px;
  color: rgb(173, 171, 171);
  font-weight: lighter;
  font-size: 20px;
}

#temprature {
  font-size: 48px;
  font-weight: normal;
}
.coded {
  padding-top: 10px;
}

.cf {
  position: relative;
  top: -30px;
}
ul {
  list-style: none;
  margin-left: 0;
}
ul li {
  line-height: 1.2;
}
p {
  line-height: 0.5;
}
h1::first-letter {
  text-transform: capitalize;
}

#condition::first-letter {
  text-transform: capitalize;
}

#canti {
  font-weight: 600;
  font-size: 18px;
}

#row {
  text-align: center;
  margin: 20px 0px;
  padding: 5px;
  padding-left: 0;
}
.forecast #max {
  font-weight: bold;
}

#forecastImg {
  width: 55px;
  height: 55px;
  position: relative;
  left: 50;
}

#col {
  align-items: center;
}
#country {
  opacity: 0.4;
  margin-top: 15px;
  font-size: 18px;
  text-align: center;
}
#country::first-letter {
  text-transform: capitalize;
}
#bgImg {
  width: 200px;
  height: 150px;
}
